body { 
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: black;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex column;
    border: 10px outset darkgrey;
}

.hud {
    overflow-x: wrap;
    color: white;
    border: 1px groove darkgrey;
    height: 5rem;
    width: 678px;
    padding: 10px;
    text-align:center;
}

.stats {
    background-color: black;
    color: white;
    overflow-x: wrap;
    border: 1px groove darkgrey;
    height: 1rem;
    width: 678px;
    padding: 10px;
    display: flex;
}

.main-game {
    display: flex;
    width: 700px;
}

.game-panel {
    flex: 2;
    max-height: 480px;
}

.inventory-panel {
    flex: 1;
    max-height: 480px;
    border-left: 1px solid darkgrey;
    display: flex column;
    color: white;
    text-transform: capitalize;
    text-align: center; 
}

.stat-point {
    width: 100%;
    text-align: center;
}

canvas { 
    width: 640px;
    height: 480px;
}